.cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-auto-rows: minmax(361px, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width:1279px) {

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  }
}
