.card__btn-like {
  margin: 0 0 0 auto;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: .2s;
}

.like_disabled {
  background-image: url("../../../images/Like_disabled.png");
}

.like_enabled {
  background-image: url("../../../images/Like_enabled.png");
}

.card__btn-like:hover {
  transition: .2s;
  opacity: .6;
}
