@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/container/container.css');
@import url('../blocks/header/header.css');







.content {
  max-width: 100%;
  margin: 0 0 66px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;

}

.profile__info {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 16px 18px;
}

.profile__name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

.profile__about {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}

.profile__redaction {
  align-self: center;
  background-color: black;
  background-image: url('../images/redaction.png');
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  border: 1px solid white;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.profile__add-button {
  background-color: black;
  background-image: url('../images/Add_button.png');
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  border: 1px solid white;
  margin: 0 0 0 auto;
  padding: 0;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(361px, 1fr)); */
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
}

.card__photo {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0 0 25px 0;
}

.card__info {
  margin: 0 auto 31px;
  max-width: calc(100% - 25px*2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__title {
  max-width: calc(100% - 22px);
  margin: 0;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__btn-like {
  margin: 0 0 0 auto;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: white;
  background-image: url('../images/Like_disabled.png');
}


.footer {
  max-width: 100%;
  margin: 0 0 60px 0;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #545454;
}
